header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-size: 25px;
  font-weight:700;
}

header ul{
  display: flex;
  justify-content: space-around;
}

.logo img{
  height: 50px;
  width: auto;
}

.instructions{
  border: 1px solid black;
  width: 1fr;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.visualizer-controller{
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  width: 20%;
}

.music-options{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 30%;
}

#visualizer-canvas{
  border: 1px solid black;
  background-color: black;
}