body{
  background-color: gray;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1{
  font-size: 25px;
  font-weight:700;
  color: white;
}


h4{
  font-size: 20px;
  font-weight: 600;
}

header ul{
  display: flex;
  justify-content: space-around;
}

.logo img{
  height: 50px;
  width: auto;
  /* background-color: white; */
}

.instructions{
  border: 1px solid black;
  width: 1fr;
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 5px;
}

.visualizer-controller{
  display: flex;
  border: 1px solid white;
  flex-direction: column;
  width: 20%;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 5px;
}

.music-options{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 20%;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  z-index: 105;
}

#visualizer-canvas{
  border: 1px solid white;
  background-color: black;
  position: relative;
  width: 75%;
  height: 75%;
  /* position: absolute;
  top: 60px;
  left: 400px; */
  border-radius: 10px;
}

.visual{
  display: flex;
  position: absolute;
  top: 50px;
  left: 500px;
  flex-direction: column;
}

audio {
  position: relative;
  top: 10px;
  left: 400px;
}

